* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

section {
    height: 100vh;
    padding: 3em;
}

h1 {
    font-size: 5rem;
    mix-blend-mode: difference;
}

.overlay {
    background: #000;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 0.7s ease;
    z-index: -1;
}

span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

span ion-icon {
    color: #fff;
    font-size: 30px;
}

.is-open {
    clip-path: circle(200% at var(--x, 50%) var(--y, 50%));
    transition: clip-path 1.3s cubic-bezier(1, 0.1, 0.01, 0.99);
}
